# compiled analysis scripts
makentuples

# custom condor and slurm log files
**cjob_*
**sjob_*
**llambrec.cc

# custom output folders
**output_*

# compiled or cached python code
**__pycache__
**.pyc
