# compiled analysis scripts
makentuples

# custom condor and slurm log files
**cjob_*
**sjob_*
**llambrec.cc

# custom output folders and files
**output_*
**.png

# compiled or cached python code
**__pycache__
**.pyc

# context notes
CONTEXT_NOTES.md
